@mixin card-dimensions($width) {
  width: $width + px;
  height: ($width * 419 / 300) + px;
}

html { 
  font-size: 62.5%;
} 

body {
  font-size: 1.4rem;
  h1, h2, h3, h4, h5, select, input  {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
  }
  background-image: url('../img/blackat-background-thin.png');
  background-repeat: no-repeat;
}

#display {
  position:relative;
}

#title {
  color: #fff;
  h1 {
    font-weight:800;
    margin-bottom: 0;
  }
  height: 60px;
  #subtitle {
    position: relative;
    top: -0.5em;
    font-weight: normal;
    font-size: 1.1rem;
  }
}

#controls {
  background-image: url('../img/blackat-trim-flip.png');
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: 20px 0px;
  position:absolute;
  top: 0;
  left: 0;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 3em;
  width: 20em;
  hr.filter-divider {
    margin: 0.5em;
  }
  .filter-block {
    h4 {
      cursor: pointer;
    }
  }
  #sides {
    text-align:center;
    color: #fff;
    .side-button {
      display: inline-block;
      cursor: pointer;
      width: 35%;
      margin: 1em 0;
      color: #999;
    }
    .side-button.text-primary {
        /* color: #337ab7; */
        color: #fff;
    }
  }
  .checkbox {
    margin: 0px 0px;
  }
  .mass-selector span {
    cursor: pointer;
  }
}

#cards {
  position: absolute;
  top: 0;
  left: 20em; 
  padding: 5em 1em;
  
  .card-divider {
    width: 100%;
    text-align:right;
    padding-bottom: 0.3em;
    padding-right: 8em;
    border-bottom: 2px solid #bbb;
    margin-bottom: 0.5em;
  }
  .card-tile {
    margin: 6px;
    @include card-dimensions(200);
    overflow:visible;
    float:left;
    display:block;
  
    img {
      position:relative;
      @include card-dimensions(200);
    }
    
    img:hover {
      height: initial;
      width: initial;
      left:-50px;
      top: (-1 * 50 * (419 / 300)) + px;
      z-index:9999;
    }
  }
}

#no-cards {
  margin-top: 8em;
}

#reset h5 {
  cursor: pointer;
  display:block;
}

#small-print {
  font-size: 1.1rem;
}