<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlacKat | Android:Netrunner Card Explorer</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rajdhani' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css?v1.6.0" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    
    <meta name="description" content="BlacKat, our feline friend, effortlessly sorts and sifts the cards while you ponder, muse and strategise your next deck">
    
    <link rel="canonical" href="http://blackat.co.uk/"/>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79734467-1', 'auto');
      ga('send', 'pageview');
    </script>
  
  </head>
  <body ng-app="blackat">
    <div id="display">
      <div id="controls" ng-controller="ControlsCtrl">
        <div id="title"><h1>BlacKat</h1><span id="subtitle">Netrunner Card Explorer</span></div>
        <div class="filter-wrapper" ng-cloak ng-show="loaded.loaded > 5">
          <div id="sides" ng-controller="SidesCtrl">
            <h4 class="side-button" ng-click="changeSide('corp')" ng-class="{'text-primary': sides.current == 'corp'}" >Corp</h4>
            <h4 class="side-button" ng-click="changeSide('runner')" ng-class="{'text-primary': sides.current == 'runner'}">Runner</h4>
          </div>
          <div id="sort" ng-controller="SortCtrl" class="form-group">
            <select class="form-control" ng-model="sort.currentShorthand" ng-options="option.value as option.title for option in sort.options | filter:{side:sides.current}" ng-change="changeSort()"></select>
          </div>
          <div id="search" ng-controller="SearchCtrl">
            <div class="form-group">
              <input class="form-control" type="text" ng-model="search.title" ng-change="searchTitle()" placeholder="search title" />
            </div>
            <div class="form-group">
              <input class="form-control" type="text" ng-model="search.text" ng-change="searchText()" placeholder="search text" />
            </div>
          </div>
          <div id="filters">
            <div id="sets" class="filter-block" ng-controller="SetsCtrl">
              <h4 ng-click="showSets = !showSets">Sets
                <span ng-if="sets.display.length > sets.selected.length"> &bull;</span></h4>
              <div class="filters" ng-show="showSets">
                <div class="mass-selector">
                  <span ng-click="allSets();">All</span> | <span ng-click="noSets()">None</span> 
                </div>
                <hr class="filter-divider" />
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="sets.showSpoilers" ng-change="setSpoilers()"/> Show Spoilers </label>
                  </div>
                <hr class="filter-divider" />
                <div class="set" ng-repeat="set in sets.display">
                  <hr  class="filter-divider" ng-if="sets.display[$index - 1] && (set.cycle != sets.display[$index - 1].cycle)" />
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="set.selected" ng-change="updateSets()"/> {{set.label}} </label>
                  </div>
                </div>
              </div>
            </div>
            <div id="factions" class="filter-block" ng-controller="FactionCtrl">
              <h4 ng-click="showFactions = !showFactions;" ng-class="{active: showFactions}">Factions
                <span ng-if="factions.all.length != factions.selected.length"> &bull;</span></span></h4>
              <div class="filters" ng-show="showFactions">
                <div class="mass-selector">
                  <span ng-click="allFactions();">All</span> | <span ng-click="noFactions()">None</span> 
                </div>
                <hr class="filter-divider" />
                <div class="checkbox" ng-repeat="faction in factions.all | filter:{side:sides.current}">
                  <label><input type="checkbox" ng-model="faction.selected" ng-change="updateFactions()"/> <span class="icon icon-{{faction.value}}"></span> {{faction.label}} </label>
                </div>
              </div>
            </div>
            <div id="types" class="filter-block" ng-controller="TypesCtrl">
              <h4 ng-click="showTypes = !showTypes;">Types
                <span ng-if="types.all.length != types.selected.length"> &bull;</span></h4>
              <div class="filters" ng-show="showTypes">
                <div class="mass-selector">
                  <span ng-click="allTypes()">All</span> | <span ng-click="noTypes()">None</span> 
                </div>
                <hr class="filter-divider" />
                <div class="checkbox" ng-repeat="type in types.all | filter:{side:sides.current}">
                  <label>
                    <input type="checkbox" ng-model="type.selected" ng-change="updateTypes()"/> {{type.label}}
                  </label>
                </div>
              </div>
            </div>
            <div id="subtypes" class="filter-block" ng-controller="SubtypesCtrl">
              <h4 ng-click="showSubtypes = !showSubtypes;">Subtypes
                <span ng-if="subtypes.all.length != subtypes.selected.length"> &bull;</span></h4>
              <div class="filters" ng-show="showSubtypes">
                <div class="mass-selector">
                  <span ng-click="allSubtypes()">All</span> | <span ng-click="noSubtypes()">None</span> 
                </div>
                <hr class="filter-divider" />
                <div class="checkbox" ng-repeat="subtype in subtypes.all | filter:{side:sides.current} | subtypeOptions:types.selected:sides.current track by subtype.value">
                  <label>
                    <input type="checkbox" ng-model="subtype.selected" ng-change="updateSubtypes()"/> {{subtype.label}}
                  </label>
                </div>
            </div>
            </div>
          </div>
          <hr />
          <div id="reset" ng-controller="ResetCtrl">
            <h5 ng-click="resetAll()">Reset Filters</h5>
            <h5 ng-click="clearCookie()">Clear Cookie</h5>
          </div>
          <hr />
          <div id="small-print">
            <p>Version 1.6.0</p>
            <p>Images &amp; universe are intellectual property of <a href="https://www.fantasyflightgames.com">Fantasy Flight Games</a> and/or <a href="http://company.wizards.com/">Wizards of the Coast</a></p>
            <p>BlacKat image by <a href="http://seageart.com/">Seage</a> who can be found on <a href="http://youtube.com/seagespeaks">YouTube</a></p>
            <p>Data &amp; icons graciously provided by <a href="http://netrunnerdb.com/">NetrunnerDB</a></p>
          </div>
        </div>
      </div>
      
      <div id="cards" ng-controller="CardsCtrl">
        <div class="loader" ng-hide="cards.loaded">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <div ng-cloak ng-show="cards.loaded">
          <div class="card-group" ng-repeat="group in cards.display | factions:factions.selected | filter:{title:search.title} | filter:{text:search.text} | sets:sets.selected | types:types.selected | subtypes:subtypes.selected | specialSort:sort.currentShorthand | orderBy:sort.current | groupBy:sort.currentShorthand as filteredCards">
            <h3 ng-if="group.title" class="card-divider"><span ng-bind-html="group.title"></span></h3>
            <br style="clear:both" />
            <div class="card-tile" ng-repeat="card in group.cards">
              <img ng-src="{{card.imagesrc}}" />
            </div>
            <br style="clear:both" />
          </div>
          <h3 id="no-cards" ng-if="!filteredCards.length">I can't find any cards for you like that &hellip; meow!</h3>
        </div>
      </div>
    </div>
    
    <link rel="stylesheet" href="/css/icons/style.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/app.js?v1.6.0"></script>
    
  </body>
</html>